.passwordInput{
    border: 0;
    border-bottom: 2px solid gray;

    &:focus-within {
        border-bottom: 2px solid rgb(63, 63, 230);
    }

    input {
        border: 0;
    }

    i:hover{
        color: blue;
    }
}