.socialMediaLogin {
    color: white;

    .brand {
        font-family: "Permanent Marker", cursive;
        cursor: pointer;
    }

    button {
        color: white;
    }

    .facebook {
        background-color: #3b5998;
    }

    .twitter {
        background-color: #00acee;
    }

    .google {
        background-color: #db4a39;
    }
}
